@charset "UTF-8";
/*侧边小图标开始*/
.icons-smenu-receipt {
    background-position: -40px -240px;
}

.smenu-list:hover .icons-smenu-receipt, .second-menu .on .icons-smenu-receipt {
    background-position: -40px -340px;
}

.icons-smenu-payt {
    background-position: -140px -240px;
}

.smenu-list:hover .icons-smenu-payt, .second-menu .on .icons-smenu-payt {
    background-position: -140px -340px;
}

.icons-smenu-invoicergt {
    background-position: -240px -240px;
}

.smenu-list:hover .icons-smenu-invoicergt, .second-menu .on .icons-smenu-invoicergt {
    background-position: -240px -340px;
}

.icons-smenu-tickets {
    background-position: -340px -240px;
}

.smenu-list:hover .icons-smenu-tickets, .second-menu .on .icons-smenu-tickets {
    background-position: -340px -340px;
}

.icons-smenu-wadteoutstr {
    background-position: -440px -240px;
}

.smenu-list:hover .icons-smenu-wadteoutstr, .second-menu .on .icons-smenu-wadteoutstr {
    background-position: -440px -340px;
}

.icons-smenu-wemaint {
    background-position: -540px -240px;
}

.smenu-list:hover .icons-smenu-wemaint, .second-menu .on .icons-smenu-wemaint {
    background-position: -540px -340px;
}

.icons-smenu-divid {
    background-position: -640px -240px;
}

.smenu-list:hover .icons-smenu-divid, .second-menu .on .icons-smenu-divid {
    background-position: -640px -340px;
}

.icons-smenu-commis {
    background-position: -640px -240px;
}

.smenu-list:hover .icons-smenu-commis, .second-menu .on .icons-smenu-commis {
    background-position: -640px -340px;
}

/*侧边小图标结束*/

/*通知公告开始*/
.announcement {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 40px;
    font-size: 12px;
    color: #fff;
}
/* 通知公告开始 */
.announcement.org-bg {
    background-color: #ff6a00;
}

.announcement.green-bg {
    background-color: #1bb869;
}

.announcement .btn-close {
    width: 18px;
    height: 26px;
    background-position: -167px -312px;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    right: 15px;
}
/* 通知公告结束 */
.finace-wrap .payment-mtd {
    display: inline-block;
    width: 15%;
    text-align: right;
}


.finace-wrap .receptpage-w35 {
    width: 35%;
    display: inline-block;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.finace-wrap .iw15 {
    width: 15% !important;
}

.finace-wrap .iw50 {
    width: 50% !important;
}

.finace-wrap .iw62 {
    width: 62% !important;
}

.finace-wrap .dialog-recharge .search-input {
    width: 100%;
    height: 28px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #babbc3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 6px;
    font-family: inherit;
    font-size: 12px;
}

.finace-wrap .dialog-recharge .search-content {
    /* top: 35px; */
}

.finace-wrap .prepaid-recharge .content-bottom {
    width: auto;
    height: auto;
    padding: 20px 40px 20px;
    padding-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
}

.finace-wrap .prepaid-recharge .dialog-content {
    padding: 40px 0px;
    font-size: 14px;
}

.finace-wrap .prepaid-recharge .layui-layer-content .search-input {
    width: 100%;
    height: 28px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #babbc3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 6px;
    font-family: inherit;
    font-size: 12px;
}

.finace-wrap .prepaid-recharge .dialog-btn {
    text-align: center;
    padding: 10px 20px;
    padding-bottom: 40px;
}

.finace-wrap .not-onlinebank .btn-print-confirm {
    margin-left: 68px;
    height: 28px;
    line-height: 28px;
}

.finace-wrap .search-content > li:last-child {
    border-bottom: none;
}

.finace-wrap .content-bottom .list-attribt.pdt20 {
    padding-top: 20px;
}

.finace-wrap .ml20 {
    margin-left: 20px;
}


.finace-wrap li.list-classdd > div.pdtb17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.finace-wrap .content-bottom.pdb20 {
    padding-bottom: 20px;
}
/*月结*/
.finace-wrap .mon-bal {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #1bb869;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #fff;
}
/*现结*/
.finace-wrap .mon-current {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #ff6a00;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #fff;
}

.finace-wrap .receiv-btn {
    background-color: #2876fc;
}

.finace-wrap .receiv-pay {
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 60px;
    right: -20px;
    color: #fff;
}

.finace-wrap .receiv-org {
    background-color: #ff6a00;
}

.finace-wrap .container {
    overflow: hidden;
}

.finace-wrap .container .list-left {
    float: left;
    width: 65%;
    background-color: #fff;
    padding-bottom: 2000px;
    margin-bottom: -2000px;
}

.finace-wrap .container .list-right {
    float: left;
    width: 33%;
    margin-left: 2%;
    background-color: #fff;
    padding-bottom: 2000px;
    margin-bottom: -2000px;
}

.finace-wrap .container .list-sleft {
    float: left;
    width: 33%;
    background-color: #fff;
    padding-bottom: 2000px;
    margin-bottom: -2000px;
}

.finace-wrap .container .list-sleft .search {
    border-bottom: none;
}

.finace-wrap .container .list-sleft .search-input {
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #babbc3;
}

.finace-wrap .container .list-sright {
    float: left;
    margin-left: 2%;
    width: 65%;
    padding-bottom: 2000px;
    margin-bottom: -2000px;
}

.finace-wrap .tab-box .content-bottom.list-sright, .finace-wrap .tab-box .content-bottom.list-sright {
    background-color: #f1f1f9;
}

.finace-wrap .receiv-pay.wtelecircle {
    top: 150px;
    right: -45px;
    cursor: default;
}

.finace-wrap .receiv-pay.wtelecircle p:first-child {
    line-height: 40px;
}

.finace-wrap .receiv-pay.wtelecircle p:last-child {
    line-height: 2px;
}

.finace-wrap .list-class.pro-list.pdb20 {
    padding-bottom: 20px;
}

.finace-wrap .date-inputnone {
    border: none !important;
    border-bottom: 1px solid #babbc3 !important;
    padding-right: 6px !important;
}

.finace-wrap .btn-print-confirm {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #2876fc;
}

.finace-wrap .mtop50 {
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.finace-wrap .btn-bill {
    background-color: #ff6a00;
}

.finace-wrap .correct-select {
    display: inline-block;
    width: 33px;
    height: 33px;
    display: inline-block;
    background-position: -209px -509px;
}

.finace-wrap .back-com {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cfd4e3;
    color: #0F1533;
}

.finace-wrap #settlemt-dtls .mask {
    z-index: 1000;
}

.finace-wrap #settlemt-dtls .dialog {
    z-index: 1001;
}

.finace-wrap #settlemt-dtls .dialog-b {
    padding: 5px;
}

.finace-wrap .tab-box #settlemt-dtls .list-title-bd, .finace-wrap .tab-box #settlemt-dtls .list-classdd {
    padding-left: 0;
    padding-right: 0;
}

.finace-wrap .w54 {
    width: 54%;
}

.finace-wrap #settlemt-dtls .settlemt-total div {
    float: left;
    padding-left: .5%;
}

.finace-wrap #settlemt-dtls .settlemt-total .col-page-price {
    word-break: break-all;
    word-wrap: break-word;
}

.finace-wrap .list-attribt > li > div.amount-sty, .finace-wrap .list-class > li.list-classdd > div.amount-sty {
    text-align: right;
    padding-right: 2%;
}

.finace-wrap .msg-says-dot {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 2px;
    display: inline-block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #ff6a00;
    z-index: 2;
}

.finace-wrap .msg-says {
    white-space: nowrap;
    line-height: 24px;
    display: inline-block;
    padding: 15px;
    background-color: #fff;
    font-size: 12px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    left: 40px;
    bottom: -15px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(40, 118, 252, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(40, 118, 252, 0.5);
    z-index: 2;
}

.finace-wrap .msg-says span {
    color: #0F1533;
}

.finace-wrap .msg-says .arrow {
    position: absolute;
    bottom: -4px;
    left: 6px;
    cursor: pointer;
    display: inline-block;
    width: 0;
    height: 0;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ff6a00;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
}
/* layer 收款金额开始 */
.finace-wrap .receipt-amount .layui-layer-content {
    height: auto !important;
    text-align: center;
    padding: 40px 0px;
    font-size: 14px;
}

.finace-wrap .receipt-amount .layui-layer-content .content-bottom {
    width: auto;
    height: auto;
    padding: 20px 40px 20px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
}

.finace-wrap .receipt-amount .layui-layer-content .list-title-bd, .finace-wrap .receipt-amount .layui-layer-content .list-classdd {
    margin-left: 0;
    margin-right: 0;
}
/* layer 收款金额结束 */
/*收款和收款统计列表结束*/
/*打印收据页面开始*/
.recpt-chapter  {
    position: absolute;
    bottom: 10px;
    left: 90px;
}

.recpt-chapter > img {
    width: 150px;
}

.finace-wrap .pd40 {
    padding: 40px;
    background-color: white;
}

.finace-wrap .ft24 {
    font-size: 24px;
}

.finace-wrap .receptpage-list > ul {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.finace-wrap .hlh48 {
    height: 48px;
    line-height: 48px;
}

.finace-wrap .bd-right {
    border-right: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.finace-wrap .receptpage-w30 {
    width: 30%;
    display: inline-block;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*打印和导出开始*/
.finace-wrap .print-fixed {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    -webkit-box-shadow: 0 0 30px rgba(40, 118, 252, 0.7);
    box-shadow: 0 0 30px rgba(40, 118, 252, 0.7);
    z-index: 999;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    left: 10%;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: 0;
}

.finace-wrap .s-small .hydrop-wrap.print-fixed {
    left: 4.5%;
}

@media screen and (min-width: 1600px) {
    .finace-wrap .hydrop-wrap.print-fixed {
        left: 7.5%;
    }
}
/*打印和导出结束*/
/*打印收据页面结束*/
/*开票页面开始*/
.finace-wrap .bill-req span {
    font-size: 12px;
    padding: 6px 6px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #babbc3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.finace-wrap .bill-req span.on {
    color: #fff;
    background-color: #2876fc;
    border: 1px solid #2876fc;
}

.finace-wrap .pickupway-wrap .dialog-content {
    text-align: left;
    padding: 40px 40px;
}

.finace-wrap .pickupway-wrap .dialog-content .search {
    border-bottom: none;
    padding-left: 0;
}

.finace-wrap .pickupway-wrap .dialog-content input {
    border: none;
    border-bottom: 1px solid #dcdcdc;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.finace-wrap .pickupway-wrap .dialog-content input:hover {
    border-bottom: 1px solid #2876fc;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.finace-wrap .pickupway-wrap .w76 {
    width: 76%;
}
/*快递到家详情*/
.finace-wrap .expresshm-detail {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.finace-wrap .hlh24 {
    height: 24px;
    line-height: 24px;
}
/*开票页面结束*/
/*发票登记页面开始*/
.finace-wrap .total-price {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.finace-wrap .total-price > div:first-child {
    margin-left: 45%;
}

.finace-wrap .total-price > div {
    float: left;
    line-height: 22px;
    padding: 10px 0;
    padding-left: 0.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.finace-wrap .paid-li {
    display: none;
}
/*发票登记页面结束*/
/*收票开始*/
.finace-wrap .fileName {
    display: inline-block;
}

.finace-wrap .tax-rate {
    display: none;
}
/*收票结束*/
/*水电维修开始*/
.finace-wrap .list-right .search {
    padding-bottom: 6px;
    border-bottom: none;
    line-height: 33px;
}

.finace-wrap .list-right .search .search-input {
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #babbc3;
}

.finace-wrap .list-attribt.pdt20 {
    padding-top: 20px;
}

.finace-wrap .icon-save-info {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-position: -160px -512px;
    vertical-align: middle;
    cursor: pointer;
}

.finace-wrap .money-wrap input.money-input {
    width: 60%;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    border: 1px solid #babbc3;
    padding-left: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}

.finace-wrap .list-class > li.list-classdd > div.pdtb17.money-wrap {
    padding: 13px 0;
}
/*水电维修结束*/
/*水电维修审核开始*/
.finace-wrap .btnappr-com {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.finace-wrap .btnappr-passed {
    background-color: #1bb869;
}

.finace-wrap .btnappr-not-passed, .finace-wrap .approve-btn {
    color: #fff;
    background-color: #2876fc;
}

.finace-wrap .maintappr-wrap .appr-list {
    background-color: #fff;
    margin-bottom: 20px;
}

.finace-wrap .btnappr-fee {
    background-color: #ff6a00;
}

.finace-wrap .maintappr-wrap .list-class-title {
    padding-left: 40px;
    padding-right: 40px;
}

.finace-wrap .col-green {
    color: #1BB869;
}

.finace-wrap .col-org {
    color: #FF6A00;
}
/*水电维修审核结束*/
/*待申请分红开始*/
/* .finace-wrap .divided-wrap .list-class > li.list-classdd > div.pdtb17 {
    padding-top: 17px;
    padding-bottom: 17px;
} */

.finace-wrap .divided-wrap .list-class > li.list-classdd > div {
    line-height: 22px;
}

.finace-wrap .col-page-price {
    color: #ff6a00;
}
/*待申请分红结束*/
/*佣金开始*/
.finace-wrap .w52 {
    width: 52%;
}

.finace-wrap .icon-up {
    background-position: -318px -522px;
    top: 2px;
}

.finace-wrap .icon-up:hover, .finace-wrap .icon-up.on {
    background-position: -368px -522px;
    top: 2px;
}

.finace-wrap .icon-down {
    background-position: -318px -572px;
    top: 10px;
}

.finace-wrap .icon-down:hover, .finace-wrap .icon-down.on {
    background-position: -368px -572px;
    top: 10px;
}

.finace-wrap .icon-ud {
    width: 14px;
    height: 6px;
    cursor: pointer;
    position: absolute;
}
/*佣金结束*/
.finace-wrap .total-page {
    padding: 20px 40px;
    line-height: 22px;
}

.finace-wrap .list-class > .list-class-title {
    padding-left: 40px;
    padding-right: 40px;
}
/*水电维修付款底部print-fixed开始*/
.finace-wrap .hydrop-wrap.print-fixed .business-info {
    padding: 10px 20px;
    padding: 0;
}

.finace-wrap .hydrop-wrap.print-fixed .business-info li > p > input {
    width: 100%;
}

.finace-wrap .hydrop-wrap.print-fixed .business-info > ul > li {
    margin-bottom: 0;
}

.finace-wrap .hydrop-wrap.print-fixed .search {
    border-bottom: 0;
    padding-bottom: 0;
}

.finace-wrap .hydrop-wrap.print-fixed .btn-bot-com {
    height: 28px;
    line-height: 28px;
}
/*水电维修付款底部print-fixed结束*/
/*审核人记录开始*/
.finace-wrap .loading-more-cont {
    padding-left: 20px;
    background-color: #fff;
}

.finace-wrap .loading-more-cont > li {
    line-height: 14px;
    padding: 8px 20px;
}

.finace-wrap .audit-node {
    width: 70%;
    font-size: 12px;
}

.finace-wrap .audit-node label {
    font-size: 12px;
}

.finace-wrap .audit-auditor {
    font-size: 12px;
}

.finace-wrap .telesc-wrap {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
/*审核人记录结束*/
.finace-wrap .fixed-selectbox .search-content {
    bottom: 32px;
    top: auto;
    overflow-y: scroll;
}

.finace-wrap .business-info.pdlr0 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}

.finace-wrap .w68 {
    width: 68%;
}

.finace-wrap .pageWrap.pdbfix66 {
    padding-bottom: 66px;
}
/*付款申请页面开始*/
.finace-wrap .content-bottom .list-classdd.pdtb17-wrap div.pdtb17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.finace-wrap .content-bottom .list-classdd.pdtb17-wrap > div {
    line-height: 22px;
}

.finace-wrap .content-bottom .list-class.pdb20 {
    padding-bottom: 20px;
}
/*付款申请页面结束*/
/*付款审批页面开始*/
.finace-wrap .btn-fin-com {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.finace-wrap .approval-btn {
    background-color: #408bfb;
}

.finace-wrap .return-btn {
    color: #0F1533;
    border: 1px solid #acb0bd;
}

/*付款审批页面结束*/
/*返回列表样式开始*/
.finace-wrap .list-right .crumbs {
    padding: 30px 40px 10px 30px;
}

.finace-wrap .list-right .pay-right {
    padding: 20px 30px;
    padding-top: 0;
}
.finace-wrap .list-right .crumbs {
    background: #339ff9;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.finace-wrap .list-right .crumbs a {
    color: #fff;
}
.finace-wrap .icon-crumbs-02 {
    background-position: -415px -517px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.finace-wrap .crumbs-02:hover a{
      -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
/*返回列表样式结束*/
.finace-wrap .w62 {
    width: 62%;
}

.finace-wrap .pdlr30 {
    padding-left: 30px;
    padding-right: 30px;
}

.finace-wrap .pdlr30.pdt20 {
    padding-top: 20px;
}
/*飞入效果图片信息*/
.shopcart_fly {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    display: none;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 999;
}
/* 快递面单中input进行显示middle对齐 */
.finace-wrap .expresshm-detail input[type="text"] {
    vertical-align: middle;
}

.finace-wrap .ml3px {
    margin-left: 3px;
}
/* 设置收款对齐方式 */
.finace-wrap .set-w {
    display: inline-block;
    /* width: 31%; */
    width: 72px;
    text-align: right;
}

.finace-wrap .mlng3 {
    margin-left: -3px;
}

.finace-wrap .mlinput3 {
    margin-left: 3px;
}

.finace-wrap .list-right .txt-input {
    vertical-align: middle;
}

.finace-wrap .txt-input.laydate-icon {
    text-indent: 6px;
}
