.custom-list-class > li.custom-list-classdd > div.ie-pb6 {
    padding-top: 2px\0;
    *padding-top: 3px;
}

.w12 {
    *width: 11%;
}

.w8 {
    *width: 7%;
}

.w19 {
    *width: 18%;
}

.release-list-class .search .search-box {
    *margin-left: 0;
}

.simult-input {
    width: 97%\0;
    *width: auto;
}

.search input {
    width: 97%\0;
}

.simult-cont {
    *position: absolute;
    border: 1px solid #dcdcdc \0;
    *border: 1px solid #dcdcdc;
}

.simult-select {
    *position: relative;
    *z-index: -1;
}

.search-content {
    width: 97%\0;
    border: 1px solid #dcdcdc \0;
    *border: 1px solid #dcdcdc;
}

.releaseware .pro-method li {
    *padding-left: 12px;
    *padding-right: 12px;
}

.apply-list-class .search .search-box {
    *margin-left: 0;
}

.dialog-list-detail .w15 {
    *width: 14%;
}

.dialog-content .search.lh60 {
    line-height: normal;
}

.list-classdd .w15 {
    *width: 14%;
}

.list-classdd .w5 {
    *width: 3%;
}

.simult-select.positrl {
    *z-index: 2;
}

.custom-list-class .positrl.search-box {
    *z-index: 10;
}

.custom-list-class .search-content {
    *z-index: 10;
}

.company-list .w16 {
    *width: 15%;
}

.company-list .w37 {
    *width: 35%;
}

.company-list .search-content {
    *left: 0;
}

.comp-info .w30 {
    *width: 29%;
}

.details-list .w18 {
    *width: 16%;
}

.details-list .w15 {
    *width: 14%;
}

.details-list .w12 {
    *width: 11%;
}

.details-list .w8 {
    *width: 6%;
}

.details-list .w7 {
    *width: 6%;
}

.details-list .w30 {
    *width: 29%;
}

.details-list .list-attribt .w20 {
    *width: 19%;
}

.details-list .list-class .w20 {
    *width: 19%;
}

.waitpro-title .w19 {
    *width: 18%;
}

.waitpro-title.set-pd > .list-attribt > LI > DIV {
    *padding-left: 0;
}

.list-title-bd .w10, .list-classdd .w10 {
    *width: 9%;
}

.orderdt-info .w33 {
    *width: 32.33%;
}

.list-class .list-classdd .w5 {
    *width: 5%;
}

.details-list .list-attribt .w15, .details-list .list-classdd .w15 {
    *width: 13%;
}

.details-list .list-attribt .w10, .details-list .list-classdd .w10 {
    *width: 9%;
}

.company-list-title .w61, .company-list-item .w61 {
    *width: 59%;
}

.company-list-title .w56, .company-list-item .w56 {
    *width: 54%;
}

.ebill-content-left .list-attribt .w25, .ebill-content-left .list-classdd .w25 {
    *width: 24%;
}

.finace-wrap .w30 {
    *width: 27%;
}

.finace-wrap .w15 {
    *width: 14%;
}

.finace-wrap .w17 {
    *width: 16%;
}

.finace-wrap .w18 {
    *width: 17%;
}

.finace-wrap .w10 {
    *width: 9%;
}

.tab-box .list-title-bd.set-ie-pd {
    *padding-left: 40px;
    *padding-right: 40px;
}

.msg-says {
    *border: 1px solid #dcdcdc;
}

.list-attribt .w15 {
    *width: 14%;
}

.list-classdd .w15 {
    *width: 14%;
}

.list-class > LI.list-classdd > DIV.amount-sty, .list-attribt > LI > DIV.amount-sty {
    *padding-right: 0;
}

.pro-list .w20, .list-attribt .w20 {
    *width: 19%;
}

.set-ie7-1 {
    z-index: 100;
}

.set-ie7-1 .search-content, .set-ie7-1 .simult-cont {
    z-index: 101;
}

.set-ie7-2 {
    z-index: 98;
}

.set-ie7-2 .search-content, .set-ie7-2 .simult-cont {
    z-index: 99;
}

.set-ie7-3 {
    z-index: 96;
}

.set-ie7-3 .search-content, .set-ie7-3 .simult-cont {
    z-index: 97;
}

.finace-wrap .middle-popup-2 .w50 {
    *width: 49%;
}

.dialog-recharge.search-input {
    *text-indent: 0;
}

.search-input.w70 {
    *width: 69%;
}

.business-info .w33 {
    *width: 32.33%;
}

.list-sleft .search-content {
    *left: 0;
}

.newpurch-wrap .w20 {
    *width: 19%;
}

.newpurch-wrap .txt-input.w50 {
    *width: 48%;
}

.selectwrap-pd0 .w50 {
    *width: 48%;
}

.outlibrary-lists .w25 {
    *width: 24%;
}

.outlibrary-lists .w28 {
    *width: 27%;
}

.shipper-unit.search-box.ml70 {
    *margin-left: 36px;
}

.content-bottom .w9 {
    *width: 8%;
}

.list-class .w20 {
    *width: 19%;
}

.newpurch-wrap .w30 {
    *width: 28%;
}

.list-class .w28 {
    *width: 26%;
}

.eq-height .list-left {
    *width: 54%;
}

.list-classdd .w30 {
    *width: 29%;
}

.list-classdd .w45 {
    *width: 44%;
}

.table-list {
    *background-color: #fff;
}

.table-list .list-attribt {
    *margin-left: 40px;
    *margin-right: 40px;
}

.eq-height-list .w30 {
    *width: 29%;
}

.list-title-bd .w7 {
    *width: 6%;
}

.list-title-bd .w4 {
    *width: 3%;
}

.search-content {
    *left: 0;
}

.list-title-bd .w22, .list-classdd .w22 {
    *width: 21%;
}

.list-title-bd .w18, .list-classdd .w18 {
    *width: 17%;
}

.list-recd .w10 {
    *width: 9%;
}

.team-list-right.w65 {
    *width: 64%;
}

.admin-icon {
    *float: none;
}

.list-attribt .w30 {
    *width: 29%;
}

.content-bottom .w33 {
    *width: 32.333%;
}

.receivcomp-detail .tab-style .tab-menu LI {
    *width: 49%;
}

.w25 {
    *width: 23%;
}

.w50 {
    *width: 49%;
}
